.app-wrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
          "h h "
           "n c";
    grid-auto-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1px
}
.appWrapperContent {
    grid-area: c;
    background-color: #121313;
}

